<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.ProductDao">
	<insert id="registDetail" parameterType="UserDetail">
    INSERT INTO user_detail (user_id, user_profile_pic, user_gender, user_age, user_current_weight, user_target_weight, user_height, user_preferred_place, user_extra)
    VALUES (#{userId}, #{userProfilePic}, #{userGender}, #{userAge}, #{userCurrentWeight}, #{userTargetWeight}, #{userHeight}, #{userPreferredPlace}, #{userExtra})
	</insert>
	
	<select id="getDetail" parameterType="String" resultType="userDetail">
	SELECT
    user_id AS userId,
    user_profile_pic AS userProfilePic,
    user_gender AS userGender,
    user_age AS userAge,
    user_current_weight AS userCurrentWeight,
    user_target_weight AS userTargetWeight,
    user_height AS userHeight,
    user_preferred_place AS userPreferredPlace,
    user_extra AS userExtra
	FROM
	    user_detail
	WHERE
	    user_id = #{userId};
	</select>
	
	<update id="modifyDetail" parameterType="UserDetail">
	  UPDATE user_detail
	  SET
	    user_profile_pic = #{userProfilePic},
	    user_gender = #{userGender},
	    user_age = #{userAge},
	    user_current_weight = #{userCurrentWeight},
	    user_target_weight = #{userTargetWeight},
	    user_height = #{userHeight},
	    user_preferred_place = #{userPreferredPlace},
	    user_extra = #{userExtra}
	  WHERE
	    user_id = #{userId}
	</update>
	
	<insert id="matchTrainer" parameterType="String">
	INSERT INTO matched (user_id, trainer_id)
	VALUES (#{userId}, #{trainerId});
	</insert>
	
	<select id="getTrainerId" parameterType="String" resultType="String">
	SELECT trainer_id FROM matched
	WHERE user_id = ${userId};
	</select>
	
	<select id="getSchedule" parameterType="String" resultType="UserSchedule">
    SELECT user_id AS userID, user_schedule AS userSchedule
    FROM user_schedule
    WHERE user_id = #{userId};
	</select>
	
	<insert id="writeSchedule" parameterType="UserSchedule">
	INSERT INTO user_schedule (user_id, user_schedule)
	VALUES (#{userId}, #{userSchedule});
	</insert>
	
	<update id="updateSchedule" parameterType="UserSchedule">
    UPDATE user_schedule
    SET user_schedule = #{userSchedule}
    WHERE user_id = #{userId};
	</update>
	
	<delete id="deleteSchedule" parameterType="String">
	DELETE FROM user_schedule
	WHERE user_id= #{userId};
	</delete>
	

</mapper>